

<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>

<body>

    <div id="main_form">

        <select id="component">
          <option data-display="Select">Company Name</option>
            {% for code,company in companies_list.items %}
              <option value="{{ code }}">{{ company }}</option>
            {% endfor %}
        </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Start Date:
        <input id="date" name="starting_time" type="date">&nbsp;&nbsp;&nbsp;

        End Date:
        <input id="date2" name="ending_time"  type="date">&nbsp;&nbsp;

        <input value="Go" type="submit" onclick="retrieve_data();">

    </div>

  <div id="plotly-div"><!-- Plotly chart will be drawn inside this DIV --></div>


  <script>

      function retrieve_data(){

            var request_data = {
                component: $("#component").val(),
                starting_time:$("#date").val(),
                ending_time:$("#date2").val()
            }

            $.post( "/stocks_api/", request_data, function( response_data ) {
              trace1['y'] = response_data["close_prices"];
              trace1['x'] = response_data["dates"];
              Plotly.plot('plotly-div', data, layout);
            });

        }


      var trace1 = {

          x: [ ],
          y: [ ],

          xaxis: 'x',
          yaxis: 'y'
      };

    var data = [trace1];

    var layout = {
      dragmode: 'zoom',
      margin: {
        r: 10,
        t: 25,
        b: 40,
        l: 60
      },
      showlegend: false,
      xaxis: {
        autorange: true,
        range: ['2017-01-03 12:00', '2017-02-15 12:00'],
        title: 'Date',
        type: 'date'
      },
      yaxis: {
        autorange: true,
        type: 'linear'
      }
    };

    Plotly.plot('plotly-div', data, layout);

  </script>
</body>

